body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

canvas {
  border: 1px solid black;
  background-color: black;
}

h1 {
  color:green;
  position: absolute;
  top: 40px;
  left: 60px;
  width: 500px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h2 {
  color:teal;
  position: absolute;
  top: 440px;
  left: 1px;
  width: 150px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h3 {
  color:red;
  position: absolute;
  top: 440px;
  left: 200px;
  width: 100px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h4 {
  color:purple;
  position: absolute;
  top: 430px;
  left: 400px;
  width: 100px;
  height: 200px;
  font-size:15pt ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

h5 {
  color:cyan;
  position: absolute;
  top: 425px;
  left: 490px;
  width: 100px;
  height: 200px;
  font-size:15pt ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
h6 {
  color:orange;
  position: absolute;
  top: 412px;
  left:300px;
  width: 100px;
  height: 200px;
  font-size:15pt ;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
p {
  color:blue;
  position: absolute;
  top: 20px;
  left: 620px;
  width: 300px;
  height: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
